In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
# File to Load (Remember to Change These)
clinical_df = pd.read_csv("raw_data/clinicaltrial_data.csv")
mouse_df = pd.read_csv("raw_data/mouse_drug_data.csv")

In [3]:
# Read the Clinical Trial Data
clinical_df.head(5)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Read the Mouse Data
mouse_df.head(5)

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [6]:
# Combine the data into a single dataset
# Merge two dataframes using a left join

merge_df = pd.merge(clinical_df, mouse_df, on="Mouse ID", how="left")

# Filter ONLY four treatments (Capomulin, Infubinol, Ketapril, and Placebo) 
merge_df = merge_df[(merge_df["Drug"] == 'Capomulin') |
                      (merge_df["Drug"] == 'Infubinol') |
                      (merge_df["Drug"] == 'Ketapril') |
                      (merge_df["Drug"] == 'Placebo')
                     ]

merge_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril