In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
# File to Load (Remember to Change These)
clinical_df = pd.read_csv("raw_data/clinicaltrial_data.csv")
mouse_df = pd.read_csv("raw_data/mouse_drug_data.csv")

In [3]:
# Read the Clinical Trial Data
clinical_df.head(5)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Read the Mouse Data
mouse_df.head(5)

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [5]:
# Combine the data into a single dataset
# Merge two dataframes using a left join

drugtrial_df = pd.merge(clinical_df, mouse_df, on="Mouse ID", how="left")

# Filter ONLY four treatments (Capomulin, Infubinol, Ketapril, and Placebo) 
drugtrial_df = drugtrial_df[(drugtrial_df["Drug"] == 'Capomulin') |
                      (drugtrial_df["Drug"] == 'Infubinol') |
                      (drugtrial_df["Drug"] == 'Ketapril') |
                      (drugtrial_df["Drug"] == 'Placebo')
                     ]

drugtrial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [22]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
mean_tumor_vol_group = drugtrial_df[['Drug','Timepoint','Tumor Volume (mm3)']].groupby(['Drug','Timepoint']).mean()

# Convert to DataFrame
mean_tumor_vol_df = mean_tumor_vol_group.reset_index()

# Preview DataFrame
mean_tumor_vol_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [23]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
sem_tumor_vol_group = drugtrial_df[['Drug','Timepoint','Tumor Volume (mm3)']].groupby(['Drug','Timepoint']).sem()

# Convert to DataFrame
sem_tumor_vol_df = sem_tumor_vol_group.reset_index()

# Preview DataFrame
sem_tumor_vol_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731

In [17]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
sem_tumor_vol_group = tumor_response_df[['Drug','Timepoint','Tumor Volume (mm3)']].groupby(['Drug','Timepoint']).sem()

# Convert to DataFrame
sem_tumor_vol_df = sem_tumor_vol_group.reset_index()

# Preview DataFrame
sem_tumor_vol_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0                 NaN
1  Capomulin          5                 NaN
2  Capomulin         10                 NaN
3  Capomulin         15                 NaN
4  Capomulin         20                 NaN

In [ ]:
)